<html>
    <body>
        <h1> Movie Details</h1>
        {% for obj in details %}
        {{obj.movie_name}}<br/>
        Description: {{obj.movie_description}}<br/>
        Genre: {{obj.movie_genre}}<br/>
        Date Released: {{obj.movie_date_released}}<br/>
        <!-- <button type="button">YES</button>
        <button type="button">NO</button> -->
        {% if submitted %}
            Success
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
                <!-- <input type="submit" value="NO"> -->

            </form>
        {% endif %}
        <br/><br/>       
        {% endfor %}
    </body>
</html>